snippet ee "if err != nil { return emptyResult, err }" bA
if err != nil {
	return emptyResult, $0err
}
endsnippet

snippet ff "for _, foo := range foos {}" bA
for _, ${1/s$//} := range $1 {
	$0
}
endsnippet

snippet gg "for _, foo := range foos {}" bA
one $1 two $2 three $3
endsnippet
